[Desktop Entry]
Version=1.0
Name=Telegram
Comment=Telegram Desktop Messenger
Exec=/usr/telegram/Telegram/Telegram
Icon=/usr/ico/telegram.ico
Type=Application
Categories=Network;InstantMessaging;
Terminal=false
StartupNotify=true
